{
	"slackhook": "", 
	"slackapptoken": "",
	"slackbottoken": "",
	"botid": "",
	"botname": "",
	"teamid": "",
	"teamname": "",
	"logchannel": "",
	"sprayjsonpath": "",
	"debug": false,
	"allowdeletefrom": ""
} 
